/*
 * Global theme styles
 */

:root {
  color-scheme: light dark;
  accent-color: var(--sigvelo-color-primary-bg);
}

.sigvelo-light,
.sigvelo-dark,
[data-theme="light"],
[data-theme="dark"] {
  color: var(--sigvelo-color-text);
}
