.label {
  font-family: var(--sigvelo-font-sans);
  font-size: 0.875rem;
  font-weight: var(--sigvelo-font-weight-semibold);
  line-height: 1;
  color: var(--sigvelo-color-text);
}

.label[data-disabled] {
  color: var(--sigvelo-color-text-muted);
  cursor: not-allowed;
}
